<h1>Hello World3 </h1>
<p>See Me in views/static/index.html.erb</p>


<form action="/url" method="post">
	Enter URL:
	<input type ="text" name="long_url">
	<input type ="submit" value = "submit">
</form>

<% if @url %>
	<%= @url.short_url %>
	<%= @url.long_url %>
<% end %>
